In [7]:
import csv
import numpy as np
import pandas as pd
import pickle

In [8]:
#we're looking to populate these 4 dictionaries
movieId_movieName = {} # stores list of movie names in order of their movieId index
movieId_movieCol  = {} # stores
userId_userRow    = {}
userId_rating     = {}
#for reference
movieId_isRated   = {} # stores list of movie ratings in order of their movieId index

In [9]:
filename = 'movies.csv'
df = pd.read_csv('data/{}'.format(filename))

In [10]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [11]:
df.shape

(9125, 3)

In [12]:
for index, row in df.iterrows():
    # movieID is the unique index
    movieId_movieName[index] = df['title']

    # Give default rating of 0
    movieId_isRated[index] = 0

In [ ]:
filename = 'ratings.csv'
df = pd.read_csv('data/{}'.format(filename))

In [14]:
df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [15]:
df.shape

(100004, 4)

In [ ]:
 
'''
Read in the ratings
'''
path     = 'data'
filename = 'ratings.csv'


dataFrame = pd.read_csv('{}/{}'.format(path,filename))

for i in range(len(dataFrame)):
    userId  = dataFrame['userId'][i]
    movieId = dataFrame['movieId'][i]
    rating  = dataFrame['rating'][i]
    
    if userId not in userId_rating.keys():
        userId_rating[userId] = [(movieId, rating)]
    else:
        userId_rating[userId].append((movieId, rating))
    
    movieId_isRated[movieId] = 1
        
print(userId_rating[1])
    

for movieId, isRated in movieId_isRated.items():
    if isRated == 0:
        del movieId_movieName[movieId]

In [ ]:
'''
Create the row-column data

the rows and columns will have the entries for Ids in sorted order.
Therefore:
    the ith row    in the data matrix will be the ith key in sorted movieIds
    the jth column in the data matrix will be the jth key in sorted userIds
'''
userId_userRow
movieId_movieCol

i = 0
for movieId in sorted(movieId_movieName):
    movieId_movieCol[movieId] = i
    i+=1

i=0
for userId in sorted(userId_rating):
    userId_userRow[userId] = i
    i+=1

m = len(userId_userRow.keys())
n = len(movieId_movieCol.keys())
A = np.zeros((m,n))


    
print(A.shape)
for userId, ratings in userId_rating.items():
    for rating in ratings:
        movieId   = rating[0]
        score     = rating[1]
        
        if (userId in userId_userRow and movieId in movieId_movieCol):
            i = userId_userRow[userId]

            j = movieId_movieCol[movieId]
            A[i,j] = score

ratingCount = 0
for i in range(m):
    for j in range(n):
        if (A[i][j] != 0):
#             if(ratingCount < 20):
#                 print(A[i][j])
            ratingCount += 1


print('Number of ratings = {}'.format(ratingCount))
print('Total entries = {}'.format(m*n))
print('Sparsity = {}%'.format(ratingCount*100/(m*n)))

In [ ]:
'''
write the relevant dictionaries and matrix to a file
'''
# movieId_movieName
# movieId_movieCol
# userId_userRow
# userId_rating
# A

d = {'movieId_movieName': movieId_movieName,
     'movieId_movieCol' : movieId_movieCol,
     'userId_userRow'   : userId_userRow,
     'userId_rating'    : userId_rating }
pickle.dump(A, open('data/data_matrix.p', 'wb'))
pickle.dump(d, open('data/data_dicts.p', 'wb'))
print (A.shape)